* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 10pt;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

th {
	font-weight: normal;
}

th div {
	width: 24pt;
	overflow-x: hidden;
	font-size: 7pt;
}

tbody tr.value:hover {
	background-color: #eee;
}

tbody tr.miss:hover {
	background-color: #eee;
}

td.left div,
td.right div {
	width: 24px;
	overflow-x: hidden;
}

td.link div {
	width: 48px;
}

td.type div {
	font-size: 7pt;
	margin-right: 6pt;
	color: #ccc;
}

td.name div {
	font-family: monospace;
}

tr.value td.name div {
	font-family: sans-serif;
}

td.yes, td.no {
	width: 12pt;
}

td.yes div, td.no div, td.diff div {
	height: 10pt;
	margin: auto;
}

td.yes div, td.no div {
	width: 10pt;
}

td.diff div {
	width: 10pt;
}

td.yes div {
	background-color: green;
}

td.no div {
	background-color: red;
}

td.diff div {
	background-color: blue;
}

tr.depth-0 td.name div { margin-left: 0pt; }
tr.depth-1 td.name div { margin-left: 24pt; }
tr.depth-2 td.name div { margin-left: 48pt; }
tr.depth-3 td.name div { margin-left: 72pt; }
tr.depth-4 td.name div { margin-left: 96pt; }
