* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 10pt;
}

#loading blink {
	font-size: 200px;
	font-weight: bold;
}

.columns {
	position: absolute;
	left: 576pt;
}

.head .columns {
	position: absolute;
	left: 588pt;
}

.column-0 { position: absolute; left: 0pt; }
.column-1 { position: absolute; left: 24pt; }
.column-2 { position: absolute; left: 48pt; }
.column-3 { position: absolute; left: 72pt; }
.column-4 { position: absolute; left: 96pt; }
.column-5 { position: absolute; left: 120pt; }
.column-6 { position: absolute; left: 144pt; }
.column-7 { position: absolute; left: 168pt; }
.column-8 { position: absolute; left: 192pt; }
.column-9 { position: absolute; left: 216pt; }

.database .head {
	text-align: center;
	height: 10pt;
}

.database .head .columns span {
	width: 24pt;
	overflow-x: hidden;
	font-size: 7pt;
	display: block;
}

.database .body {
	margin-left: 114pt;
}

.children {
	display: none;
}

.type {
	font-size: 8pt;
	margin-right: 6pt;
	color: #aaa;
	position: absolute;
	left: 6pt;
	width: 96pt;
	overflow-x: hidden;
	white-space: nowrap;
}

.list .head .name {
	font-family: sans-serif;
	font-size: 8pt;
	color: #aaa;
}

.list .entry div {
	margin-left: 24pt;
}

.expander {
	color: blue;
	position: absolute;
	left: 76pt;
	width: 12pt;
	height: 12pt;
	background-color: black;
	color: white;
}

.list .entry .name {
	font-family: monospace;
}

.value .name {
	font-family: sans-serif;
	color: blue;
}

.value .diff {
	display: none;
}

.columns span div {
	width: 10pt;
	height: 10pt;
	margin: auto;
}

.have div {
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
}

.miss div {
	background-color: #eee;
}

.color-0 div { background-color: #00f; }
.color-1 div { background-color: #0f0; }
.color-2 div { background-color: #f00; }
.color-3 div { background-color: #a50; }
.color-4 div { background-color: #05a; }
.color-5 div { background-color: #5a0; }
.color-6 div { background-color: #0a5; }

td div {
	font-family: monospace;
}